<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
</head>

<body>
    {{#if cameraName}}
        <h1>History of {{cameraName}}</h1>
    {{else}}
        <h1>Opps something went wrong! :(</h1>
    {{/if}}

    <ul>
        {{#each AWSDATA}}
            <li><a href="./history/download?filename={{Key}}">Download {{Key}}</a></li>
        {{/each}}
    </ul>
</body>

</html>
